<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="POST">
        Select course you want to upload:
     <select name="course" id="course">
        <option value="Introduction to Computer Science">Computer science</option>
        <option value="Calculus I">Engineering</option>
        <option value="Physics I">Electricals</option>
        <option value="English Composition">Electricals</option>
        <option value="Database Systems">Electricals</option>
        <option value="Web Development">Electricals</option>
        <option value="Artificial Intelligence">Electricals</option>


     </select>




    </form>
</body>
</html>